<!DOCTYPE html>
<html>
  <head>
    <title>Database Interactions and UI</title>
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>
    {{{body}}}

<br><hr><br>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Reps</th>
          <th>Weight</th>
          <th>Date</th>
          <th>Units</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.reps}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.date}}</td>
            <td>{{this.lbs}}</td>
          </tr>
        {{/each}}
      <tbody>
    </table>
  </body>
</html>